*{
    margin: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
header.header-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 40px;
}

section.banner img.banner-image{
    width: 400px;
    height: 341.533px;
    margin: 0px 30px;
}

div.banner-info{
    display: flex;
    align-items: end;
    flex-direction: column;
}

div.banner-info h1{
    color: #232C50;
    text-align: right;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    letter-spacing: -1.75px;
    margin: 60px 40px 10px;
}

div.banner-info p{
    color: #000;
    text-align: right;
    font-size: 16.558px;
    font-style: normal;
    font-weight: 500;
    line-height: 157.1%; /* 26.013px */
    margin: 0px 40px 20px;
}

div.banner-info a{
    padding: 10px 50px;
    margin-right: 36px;
    border-radius: 50px;
    background: #8B48BF;
    color: #fff;
}

section.between-pros{
    background-color:#3CDDF3;
    margin-top: 28px;
    margin-bottom: 28px;
}

section.between-pros h2{
    color: #fff;
    padding: 40px 20px 50px 20px;
    text-align: left;
    font-size: 40px;
    margin: 0px;
}

section.between-pros p{
    color: #fff;
    margin: 0px;
    padding: 0px 20px 40px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%; /* 24.176px */
    text-align: left;
}

article.information section.information-box li h4{
    background-color: rgba(139, 72, 191, 0.30);
    color: #323851;


}

/*Footer*/

footer.footer-section{
    background-color: #1E1E26;
    color: #fff;
    padding: 40px 10px;
}

footer.footer-section form.form-footer{
    display: flex;
    justify-content: center;
    padding: 10px 50px;
}

footer.footer-section form.form-footer input[type='text']{
    height: 40px;
    border-radius: 50px;
    background: #FFF;
    border: none;
    width: 288px;
}

footer.footer-section form.form-footer input[type='submit']{
    height: 40px;
    border-radius: 50px;
    background: #8B48BF;
    color: #fff;
    border: none;
    width: 55px;
    margin-left: 10px;

}

footer.footer-section nav.menu-footer{
    display: flex;
    justify-content: space-around;
    padding: 25px 0px;
}

footer.footer-section nav.menu-footer ul{
    list-style: none;
    padding: 0px;
}

footer.footer-section nav.menu-footer ul li{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

footer.footer-section nav.icon-footer{
    padding: 20px 0px;
    
}

footer.footer-section nav.icon-footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

footer.footer-section img.logo-footer{
    margin-top: 20px;
    display: flex;
    margin: 25px auto;
}

footer.footer-section p.p-footer{
    text-align: center;
    color: #8C8C94;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
